:root{
  --main-color: blueviolet;
  --transparent-main: rgba(137, 43, 226, 0.1);
  --secondary-color: darkmagenta;
  --darker-secondary: rgb(58, 1, 58);
  --white: #FBFAF5;
  --black: #0e1111;
  --gray: #3333331c;
  --text-shadow: 0rem 0rem 0.5rem var(--secondary-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--black);
}

.main{
  width: 100%;
  padding: 1rem;
  display: grid;
  gap: 1.75rem;
  grid-column: 1;
  align-content: center;
}


.productCard{
  margin: auto;
  max-width: 25rem;
  max-height: 12rem;
  display: flex;
  border-radius: 3rem;
  text-align: center;
  border-right:1px solid var(--main-color) ;
  border-left:1px solid var(--main-color) ;
  box-shadow: 0px 0px 5px -1px var(--secondary-color);
}
.product_info{
  width: 10rem;
  border-radius: 3rem;
  color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px 0px 1px 0px solid var(--main-color);
  text-shadow: var(--text-shadow);
}
.product_info h3{
  font-style: italic;
  font-size: 1.75rem;
}
.product_info p {
  text-transform: capitalize;
}
.product_info h1{
  font-size: 3.5rem;
}

.productCard img {
  width: inherit;
  display: block;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}


.nav{
  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  text-shadow: 0rem 0rem 0.5rem var(--secondary-color);
  background-color: var(--black);
}

.nav h2{
  font-size: 2rem;
  font-family: cursive;
  color: var(--white);
}

.nav_hamburger{
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.nav_hamburger div{
  margin: 0.33rem 0;
  height: 0.35rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  filter: drop-shadow(0rem 0rem 0.1rem var(--main-color));
}

.nav_hamburger div:first-child{
  width: 2rem;
  transition: width .15s ease-out;
}

.nav_hamburger div:nth-child(2){
  width: 1.654rem;
  transition: width .22s ease-out;
}

.nav_hamburger div:last-child{
  width: 1.225rem;
  transition: width .17s ease-out;
}

.nav_hamburger:hover div{
  width: 2.5rem;
  background: linear-gradient(to right, var(--secondary-color) 20%, var(--white) 150%);

}