*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  min-width: 100%;
  padding: 2rem;
  background-color: rgb(255, 244, 230);
  display: grid;
  gap: 1.75rem;
  grid-column: 1;
}

.productCard{

  /* border: 1px solid red; */
  margin: auto;
  display: flex; 
  max-width: 20rem;
  max-height: 20rem;
  background-color: aliceblue;
  box-shadow: -1.5px 0px 15px 1px rgba(95, 151, 153, 0.3);
  /* border: 1px solid cadetblue; */
  border-radius: 0.3rem;
}
.product_info{
  width: 15rem; 
  color: cadetblue;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-family: 'Courier New', Courier, monospace;
  border-top: 0.2rem solid cadetblue;
  border-bottom: 0.2rem solid cadetblue;
  
  box-shadow: inset 0px 0px 20px 2px rgba(255, 127, 80, 0.445);
}
.product_info h3{
  font-style: italic;
}
.product_info p:nth-child(3){
  letter-spacing: normal;
  font-weight: bold;
  letter-spacing: normal;
}

.productCard img {
  width: 100%;
  display: block;
}